@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.wrap::after {
  display: block;
  clear: both;
  content: ''; }

#sub_banner {
  width: 100%;
  padding-top: 50px; }
  #sub_banner .inner {
    width: 1180px;
    margin: 0 auto;
    border: 1px solid #555;
    position: relative; }
    #sub_banner .inner h1 {
      font: bold 30px/1 'Nanum Myeongjo';
      color: #888;
      padding: 100px 30px;
      text-align: left; }
    #sub_banner .inner .wrap {
      content: '';
      display: block;
      clear: both; }
      #sub_banner .inner .wrap .homebtn {
        display: block;
        width: 5%;
        text-align: center;
        background: #eee;
        float: left;
        margin-right: 3px; }
        #sub_banner .inner .wrap .homebtn a {
          font: 15px/40px 'Nanum Myeongjo';
          color: #666; }
      #sub_banner .inner .wrap select[name=firstSelect] {
        display: block;
        width: 25%;
        height: 40px;
        border: none;
        background: #eee;
        font: 15px/40px 'Nanum Myeongjo';
        color: #666;
        float: left;
        margin-right: 3px; }
      #sub_banner .inner .wrap select[name=secondSelect] {
        display: block;
        width: 25%;
        height: 40px;
        border: none;
        background: #eee;
        font: 15px/40px 'Nanum Myeongjo';
        color: #666;
        float: left;
        margin-right: 3px; }
      #sub_banner .inner .wrap select[name=searchIndex] {
        display: block;
        width: 15%;
        height: 40px;
        border: none;
        background: #eee;
        font: 15px/40px 'Nanum Myeongjo';
        color: #666;
        float: left;
        margin-right: 3px; }
      #sub_banner .inner .wrap input[type=text] {
        display: block;
        width: 25%;
        height: 40px;
        border: none;
        background: #eee;
        font: 15px/40px 'Nanum Myeongjo';
        color: #666;
        float: left; }
      #sub_banner .inner .wrap button {
        display: block;
        width: calc(5% - 3px*4);
        height: 40px;
        border: none;
        background: #eee;
        font: 15px/40px 'Nanum Myeongjo';
        color: #666;
        float: left; }

@media screen and (max-width: 1179px) {
  #sub_banner {
    padding: 20px 20px 50px;
    box-sizing: border-box; }
    #sub_banner .inner {
      width: 100%; }
      #sub_banner .inner h1 {
        font: 500 30px/1 'Noto Sans JP'; }
      #sub_banner .inner .wrap {
        content: '';
        display: block;
        clear: both; }
        #sub_banner .inner .wrap .homebtn {
          height: 30px; }
          #sub_banner .inner .wrap .homebtn a {
            font: 14px/30px 'Nanum Myeongjo'; }
        #sub_banner .inner .wrap select[name=firstSelect] {
          font: 11px/30px 'Nanum Myeongjo';
          height: 30px; }
        #sub_banner .inner .wrap select[name=secondSelect] {
          font: 11px/30px 'Nanum Myeongjo';
          height: 30px; }
        #sub_banner .inner .wrap select[name=searchIndex] {
          font: 11px/30px 'Nanum Myeongjo';
          height: 30px; }
        #sub_banner .inner .wrap input[type=text] {
          font: 11px/30px 'Nanum Myeongjo';
          height: 30px; }
        #sub_banner .inner .wrap button {
          font: 11px/30px 'Nanum Myeongjo';
          height: 30px; } }
@media screen and (max-width: 539px) {
  #sub_banner {
    padding: 20px 20px 50px;
    box-sizing: border-box; }
    #sub_banner .inner {
      width: 100%; }
      #sub_banner .inner h1 {
        font: 500 15px/1 'Noto Sans JP'; }
      #sub_banner .inner .wrap {
        content: '';
        display: block;
        clear: both;
        width: 100%; }
        #sub_banner .inner .wrap .homebtn {
          width: 5%; }
          #sub_banner .inner .wrap .homebtn a {
            font: 10px/30px 'Nanum Myeongjo';
            color: #666; }
        #sub_banner .inner .wrap select[name=firstSelect] {
          height: 30px;
          font: 10px/30px 'Nanum Myeongjo'; }
        #sub_banner .inner .wrap select[name=secondSelect] {
          height: 30px;
          font: 11px/30px 'Nanum Myeongjo'; }
        #sub_banner .inner .wrap select[name=searchIndex] {
          height: 30px;
          font: 11px/30px 'Nanum Myeongjo'; }
        #sub_banner .inner .wrap input[type=text] {
          width: calc(25% - 3px*4);
          height: 30px;
          padding: 0 5px;
          box-sizing: border-box;
          font: 11px/30px 'Nanum Myeongjo'; }
        #sub_banner .inner .wrap button {
          width: 5%;
          height: 30px;
          font: 11px/30px 'Nanum Myeongjo'; } }
#board {
  width: 100%; }
  #board .inner {
    width: 1180px;
    margin: 0 auto; }
    #board .inner table {
      width: 100%;
      border-top: 2px solid #999;
      border-bottom: 2px solid #999;
      margin-bottom: 200px;
      border-collapse: collapse; }
      #board .inner table tr {
        border-bottom: 1px solid #ddd; }
        #board .inner table tr th {
          color: #555;
          padding: 10px;
          font: normal 16px 'Noto Sans JP';
          border-bottom: 2px solid #999; }
          #board .inner table tr th:nth-of-type(1) {
            width: 10%; }
          #board .inner table tr th:nth-of-type(2) {
            width: 50%; }
          #board .inner table tr th:nth-of-type(3) {
            width: 15%; }
          #board .inner table tr th:nth-of-type(4) {
            width: 15%; }
          #board .inner table tr th:nth-of-type(5) {
            width: 10%; }
        #board .inner table tr td {
          padding: 20px;
          text-align: center;
          font: 16px/20px 'Nanum Myeongjo';
          transition: 0.5s; }
          #board .inner table tr td a {
            display: block;
            width: 100%;
            height: 100%;
            color: #333;
            float: left; }
        #board .inner table tr:hover td {
          color: #333;
          font: 700 16px/20px 'Nanum Myeongjo';
          background: rgba(0, 0, 0, 0.05); }
    #board .inner .pagination {
      width: 100%;
      text-align: center;
      font-size: 20px/1; }
      #board .inner .pagination::after {
        content: '';
        display: block;
        clear: both; }
      #board .inner .pagination .numbers {
        font-size: 0;
        display: inline-block; }
        #board .inner .pagination .numbers a {
          display: inline-block;
          width: 30px;
          height: 30px;
          font: 15px/30px 'Nanum Myeongjo';
          color: #666;
          text-align: center;
          margin: 0 5px; }
        #board .inner .pagination .numbers a:hover {
          color: #333;
          font-weight: bold; }

#survey {
  width: 100%;
  padding: 100px 0; }
  #survey .inner {
    width: 1180px;
    margin: 0 auto;
    background: rgba(153, 153, 153, 0.1); }
    #survey .inner h1 {
      text-indent: -9999px;
      font-size: 0; }
    #survey .inner .surveybox {
      width: 100%;
      border: 1px solid #ddd;
      margin: 0 auto;
      text-align: center;
      padding: 30px; }
      #survey .inner .surveybox p {
        margin-bottom: 50px;
        font: bold 16px 'Nanum Myeongjo';
        color: #555; }
      #survey .inner .surveybox label {
        font: normal 14px 'Nanum Myeongjo';
        margin-right: 30px; }
      #survey .inner .surveybox div {
        font: normal 14px 'Nanum Myeongjo';
        margin-top: 20px; }
        #survey .inner .surveybox div input[type="text"] {
          width: 350px;
          padding: 8px; }
        #survey .inner .surveybox div button {
          padding: 10px;
          background: #666;
          color: #eee;
          border: none; }

@media screen and (max-width: 1179px) {
  #board {
    padding: 20px 20px 50px;
    box-sizing: border-box; }
    #board .inner {
      width: 100%; }
      #board .inner table {
        width: 100%;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
        margin-bottom: 50px;
        border-collapse: collapse; }
        #board .inner table tr {
          border-bottom: 1px solid #ddd; }
          #board .inner table tr th {
            color: #555;
            padding: 10px;
            font: normal 16px 'Noto Sans JP';
            border-bottom: 2px solid #999; }
            #board .inner table tr th:nth-of-type(1) {
              width: 10%; }
            #board .inner table tr th:nth-of-type(2) {
              width: 50%; }
            #board .inner table tr th:nth-of-type(3) {
              width: 15%; }
            #board .inner table tr th:nth-of-type(4) {
              width: 15%; }
            #board .inner table tr th:nth-of-type(5) {
              width: 10%; }
          #board .inner table tr td {
            padding: 20px;
            text-align: center;
            font: 16px/20px 'Nanum Myeongjo';
            transition: 0.5s; }
            #board .inner table tr td a {
              display: block;
              width: 100%;
              height: 100%;
              color: #333;
              float: left; }
          #board .inner table tr:hover td {
            color: #333;
            font: 700 16px/20px 'Nanum Myeongjo';
            background: rgba(0, 0, 0, 0.05); }
      #board .inner .pagination {
        width: 100%;
        text-align: center;
        padding: 0 50px 50px;
        font-size: 20px/1; }
        #board .inner .pagination::after {
          content: '';
          display: block;
          clear: both; }
        #board .inner .pagination .numbers {
          font-size: 0;
          display: inline-block; }
          #board .inner .pagination .numbers a {
            display: inline-block;
            width: 30px;
            height: 30px;
            font: 15px/30px 'Nanum Myeongjo';
            color: #666;
            text-align: center;
            margin: 0 5px; }
          #board .inner .pagination .numbers a:hover {
            color: #333;
            font-weight: bold; }

  #survey {
    padding: 100px 0; }
    #survey .inner {
      width: 100%;
      margin: 0 auto;
      background: rgba(153, 153, 153, 0.1); }
      #survey .inner h1 {
        text-indent: -9999px;
        font-size: 0; }
      #survey .inner .surveybox {
        width: 100%;
        padding: 30px;
        border: 1px solid #ddd;
        margin: 0 auto;
        text-align: center; }
        #survey .inner .surveybox p {
          margin-bottom: 50px;
          font: bold 16px 'Nanum Myeongjo';
          color: #555; }
        #survey .inner .surveybox label {
          font: normal 14px 'Nanum Myeongjo';
          margin-right: 30px; }
        #survey .inner .surveybox div {
          font: normal 14px 'Nanum Myeongjo';
          margin-top: 20px; }
          #survey .inner .surveybox div input[type="text"] {
            width: 350px;
            padding: 8px; }
          #survey .inner .surveybox div button {
            padding: 10px;
            background: #666;
            color: #eee;
            border: none; } }
@media screen and (max-width: 539px) {
  #board {
    padding: 20px 20px 30px;
    box-sizing: border-box; }
    #board .inner {
      width: 100%; }
      #board .inner table {
        width: 100%;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
        margin-bottom: 50px;
        border-collapse: collapse; }
        #board .inner table tr {
          border-bottom: 1px solid #ddd; }
          #board .inner table tr th {
            padding: 10px;
            font: normal 11px 'Noto Sans JP'; }
          #board .inner table tr td {
            padding: 0px;
            font: 12px/20px 'Nanum Myeongjo'; }
          #board .inner table tr:hover td {
            color: #333;
            font: 700 12px/20px 'Nanum Myeongjo'; }
      #board .inner .pagination .numbers a {
        font: 13px/30px 'Nanum Myeongjo';
        margin: 0 2px; }
      #board .inner .pagination .numbers a:hover {
        color: #333;
        font-weight: bold; }

  #survey {
    padding: 100px 0; }
    #survey .inner .surveybox p {
      font: bold 13px 'Nanum Myeongjo';
      color: #555; }
    #survey .inner .surveybox label {
      font: normal 12px 'Nanum Myeongjo';
      margin-right: 35px; }
    #survey .inner .surveybox div input[type=text] {
      font: normal 10px 'Nanum Myeongjo';
      width: 60%;
      padding: 5px;
      box-sizing: border-box; }
    #survey .inner .surveybox div button {
      font: normal 5px 'Nanum Myeongjo';
      padding: 7px;
      box-sizing: border-box; } }
.department {
  width: 100%; }
  .department .inner {
    width: 1180px;
    margin: 0 auto; }
    .department .inner img {
      width: 100%; }

#location {
  width: 100%; }
  #location .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0; }
    #location .inner .location-map #map {
      width: 100%;
      height: 500px;
      background: #000; }
    #location .inner .location-map::after {
      display: block;
      content: '';
      clear: both; }
    #location .inner .location-map .traffic {
      float: left;
      margin-top: 20px; }
      #location .inner .location-map .traffic li {
        float: left;
        margin-right: 10px; }
        #location .inner .location-map .traffic li a {
          display: block;
          width: 200px;
          height: 40px;
          background: #555;
          font: bold 12px/40px 'arial';
          color: #fff;
          text-align: center; }
        #location .inner .location-map .traffic li.on a {
          background: #fff;
          color: #333;
          border: 1px solid #333; }
    #location .inner .location-map .branch {
      float: right;
      margin-top: 20px; }
      #location .inner .location-map .branch li {
        float: left;
        margin-right: 10px; }
        #location .inner .location-map .branch li a {
          display: block;
          width: 200px;
          height: 40px;
          background: #555;
          font: bold 12px/40px 'arial';
          color: #fff;
          text-align: center; }
    #location .inner .location-info {
      width: 100%;
      height: 200px;
      border: 1px #eee solid;
      font: 15px 'Nanum Myeongjo'; }
      #location .inner .location-info dl {
        width: 20%;
        margin: 0 auto; }
    #location .inner .location-con table {
      width: 100%;
      margin-bottom: 100px;
      font: 15px 'Nanum Myeongjo'; }
      #location .inner .location-con table caption {
        display: none; }
      #location .inner .location-con table th {
        background-color: #ccc;
        font-weight: 800; }
      #location .inner .location-con table th, #location .inner .location-con table td {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 10px; }
      #location .inner .location-con table td:last-of-type {
        border-right: none; }

#videoGallery {
  width: 100%;
  padding: 0 20px 0; }
  #videoGallery .inner {
    margin: 0px auto;
    width: 1180px; }
    #videoGallery .inner::after {
      content: '';
      display: block;
      clear: both; }
    #videoGallery .inner article {
      float: left;
      width: 33.333%;
      height: 220px;
      margin-bottom: 200px;
      padding: 5px; }
      #videoGallery .inner article:nth-of-type(1) {
        width: 100%;
        height: 500px; }
      #videoGallery .inner article .pic {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover; }
        #videoGallery .inner article .pic:hover {
          opacity: 0.5;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat; }
      #videoGallery .inner article .con {
        width: 100%;
        padding: 20px;
        color: #000; }
        #videoGallery .inner article .con h2 {
          font: bold 20px 'Nanum Myeongjo';
          margin-bottom: 20px; }
        #videoGallery .inner article .con p {
          font: 15px 'Nanum Myeongjo';
          margin-bottom: 50px; }
        #videoGallery .inner article .con span {
          display: block;
          font: 15px 'Nanum Myeongjo';
          margin-bottom: 20px; }

#sub_banner .inner .wrap input {
  width: 200px; }

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0; }
  .loading.on {
    opacity: 1; }

.content {
  width: 100%;
  padding: 100px 0px 150px;
  box-sizing: border-box; }
  .content .inner {
    width: 1180px;
    margin: 0px auto; }
    .content .inner > h1 {
      font: bold 50px/1 "arial";
      color: #333;
      margin-bottom: 50px;
      cursor: pointer; }
    .content .inner #search {
      margin-bottom: 50px; }
    .content .inner #gallery {
      opacity: 0;
      transform: translateY(100px);
      transition: 1s; }
      .content .inner #gallery.on {
        opacity: 1;
        transform: translateY(0px); }
      .content .inner #gallery ul {
        width: 100%; }
        .content .inner #gallery ul::after {
          content: "";
          display: block;
          clear: both; }
        .content .inner #gallery ul li {
          float: left;
          padding: 10px;
          height: 300px;
          box-sizing: border-box;
          width: 33.333%; }
          .content .inner #gallery ul li.item-sizer {
            width: 33.333%;
            opacity: 0; }
          .content .inner #gallery ul li:nth-of-type(2) {
            width: 66.666%; }
          .content .inner #gallery ul li:nth-of-type(4) {
            height: 600px; }
          .content .inner #gallery ul li:nth-of-type(7) {
            width: 66.666%; }
          .content .inner #gallery ul li .inner {
            width: 100%;
            height: 100%;
            background: #000;
            position: relative;
            overflow: hidden; }
            .content .inner #gallery ul li .inner > a {
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              opacity: 1;
              transition: 0.5s; }
              .content .inner #gallery ul li .inner > a > img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            .content .inner #gallery ul li .inner p {
              position: absolute;
              top: -120px;
              opacity: 0;
              left: 20px;
              font: bold 14px/1 "arial";
              color: #fff;
              transition: 0.5s; }
            .content .inner #gallery ul li .inner .profile {
              position: absolute;
              bottom: -120px;
              left: 20px;
              opacity: 0;
              transition: 0.5s 0.2s;
              cursor: pointer; }
              .content .inner #gallery ul li .inner .profile img {
                border-radius: 50%; }
              .content .inner #gallery ul li .inner .profile span {
                font: 14px/1 "arial";
                color: #fff;
                margin-left: 15px;
                opacity: 0.7;
                position: relative;
                top: -18px; }
            .content .inner #gallery ul li .inner:hover > a {
              opacity: 0.4; }
            .content .inner #gallery ul li .inner:hover p {
              top: 20px;
              opacity: 1; }
            .content .inner #gallery ul li .inner:hover .profile {
              bottom: 20px;
              opacity: 1; }

@media screen and (max-width: 1179px) {
  .content {
    padding: 100px 40px; }
    .content .inner {
      width: 100%; }
      .content .inner #search {
        margin-bottom: 50px; }
      .content .inner #gallery ul li {
        width: 50%; }
        .content .inner #gallery ul li.item-sizer {
          width: 50%; }
        .content .inner #gallery ul li:nth-of-type(2) {
          width: 100%; }
        .content .inner #gallery ul li:nth-of-type(6) {
          width: 100%; }
        .content .inner #gallery ul li:nth-of-type(7) {
          width: 50%; } }
.join {
  width: 100%; }
  .join .inner {
    width: 1180px;
    margin: 0 auto; }
    .join .inner form fieldset {
      border: none; }
      .join .inner form fieldset legend {
        font: bold 40px 'Nanum Myeongjo';
        margin-bottom: 100px; }
      .join .inner form fieldset h2 {
        font: bold 25px 'Nanum Myeongjo';
        margin-bottom: 10px; }
      .join .inner form fieldset table {
        width: 100%;
        margin-bottom: 100px;
        border-top: 2px solid #000; }
        .join .inner form fieldset table caption {
          display: none; }
        .join .inner form fieldset table tbody tr {
          height: 100px; }
        .join .inner form fieldset table tbody th {
          width: 30%;
          border-right: 2px solid #000;
          border-bottom: 1px solid #888; }
          .join .inner form fieldset table tbody th label {
            font: bold 17px 'Nanum Myeongjo'; }
        .join .inner form fieldset table tbody td {
          width: 70%;
          padding-left: 30px;
          border-bottom: 1px solid #888; }
          .join .inner form fieldset table tbody td label {
            font: 16px 'Nanum Myeongjo'; }
          .join .inner form fieldset table tbody td input {
            padding: 10px;
            font: 16px 'Nanum Myeongjo'; }
          .join .inner form fieldset table tbody td select {
            padding: 10px;
            font: 16px 'Nanum Myeongjo'; }
          .join .inner form fieldset table tbody td button {
            padding: 10px;
            font: 16px 'Nanum Myeongjo'; }
      .join .inner form fieldset textarea {
        width: 100%;
        padding: 20px;
        font: 17px 'Nanum Myeongjo';
        border: none;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        margin-bottom: 50px; }
      .join .inner form fieldset label {
        font: bold 20px 'Nanum Myeongjo'; }
      .join .inner form fieldset p {
        width: 100%;
        padding: 10px;
        border: none;
        font: 15px 'Nanum Myeongjo';
        color: #999; }
    .join .inner form .confirm {
      padding: 10px 20px; }

#skipNavi li a {
  display: block;
  width: 100%;
  height: 40px;
  background: darkblue;
  font: bold 15px/40px 'arial';
  color: #fff;
  text-align: center;
  position: fixed;
  top: -40px;
  left: 0; }

#header {
  width: 100%;
  z-index: 2;
  position: relative; }
  #header .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #header .inner .logo {
      padding-top: 60px; }
      #header .inner .logo a {
        font: 800 40px/1 'Nanum Myeongjo';
        color: #000; }
        #header .inner .logo a span {
          display: inline-block;
          color: #2f2f2f;
          font: normal 15px/1 'Noto Sans JP'; }
    #header .inner #nav {
      position: relative;
      padding-top: 50px; }
      #header .inner #nav .gnb {
        border-bottom: 1px solid #000; }
        #header .inner #nav .gnb::after {
          display: block;
          content: '';
          clear: both; }
        #header .inner #nav .gnb > li {
          display: block;
          width: calc(80% / 5);
          height: 50px;
          text-align: center;
          float: left; }
          #header .inner #nav .gnb > li > a {
            display: block;
            width: 100%;
            font: bold 16px/50px 'Nanum Myeongjo';
            color: #555; }
            #header .inner #nav .gnb > li > a:hover {
              border-bottom: #000 solid 3px;
              box-sizing: border-box; }
          #header .inner #nav .gnb > li::after {
            display: block;
            content: '';
            width: 1px;
            height: 30px;
            background: #555;
            transform: translateY(-130%); }
          #header .inner #nav .gnb > li:first-of-type::after {
            display: none; }
          #header .inner #nav .gnb > li .sub {
            display: none;
            width: 1180px;
            padding: 50px 0;
            position: absolute;
            top: 100px;
            left: 0; }
            #header .inner #nav .gnb > li .sub::after {
              content: '';
              display: block;
              clear: both; }
            #header .inner #nav .gnb > li .sub h2 {
              width: calc(70% / 5);
              font: bold 17px/1 'Nanum Myeongjo';
              float: left;
              position: relative;
              border: #000 1px solid;
              padding: 50px 20px; }
              #header .inner #nav .gnb > li .sub h2 p {
                margin-top: 80px;
                font: normal 15px/1.5 'Noto Sans JP';
                color: #999; }
              #header .inner #nav .gnb > li .sub h2::before {
                display: block;
                content: '';
                width: 1px;
                height: auto;
                background: #999;
                position: absolute;
                right: 0;
                top: 0; }
            #header .inner #nav .gnb > li .sub > ul {
              float: left;
              width: calc((70% / 5) * 2); }
              #header .inner #nav .gnb > li .sub > ul > li {
                height: 40px;
                border-bottom: solid 1px #999;
                margin: 0 50px 50px 50px; }
                #header .inner #nav .gnb > li .sub > ul > li a {
                  display: block;
                  width: 100%;
                  color: #555;
                  font: normal 16px/30px 'Nanum Myeongjo'; }
                #header .inner #nav .gnb > li .sub > ul > li:hover, #header .inner #nav .gnb > li .sub > ul > li.on {
                  border-bottom: solid 2.5px #555; }
                  #header .inner #nav .gnb > li .sub > ul > li:hover a, #header .inner #nav .gnb > li .sub > ul > li.on a {
                    font-weight: 800; }
          #header .inner #nav .gnb > li:nth-of-type(1) .sub div, #header .inner #nav .gnb > li:nth-of-type(2) .sub div, #header .inner #nav .gnb > li:nth-of-type(4) .sub div {
            width: 30%;
            height: 200px;
            background: black;
            float: right; }
          #header .inner #nav .gnb > li:nth-of-type(1) .sub div {
            background-image: url("https://images.unsplash.com/photo-1534863098989-9d5a7794038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80");
            background-size: cover; }
          #header .inner #nav .gnb > li:nth-of-type(2) .sub div {
            background-image: url("https://images.unsplash.com/photo-1570501685214-f1f5d61b2db8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");
            background-size: cover; }
          #header .inner #nav .gnb > li:nth-of-type(4) .sub div {
            background-image: url("https://images.unsplash.com/photo-1502743780242-f10d2ce370f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1016&q=80");
            background-size: cover; }
      #header .inner #nav .menuAll .menuAll-btn {
        display: block;
        width: 5%;
        height: 50px;
        position: absolute;
        right: 0;
        top: 50px;
        text-align: center; }
        #header .inner #nav .menuAll .menuAll-btn i {
          color: #333;
          line-height: 50px; }
      #header .inner #nav .menuAll .menuAll-full {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #eee;
        z-index: 10;
        text-align: center; }
        #header .inner #nav .menuAll .menuAll-full::after {
          display: block;
          content: '';
          clear: both; }
        #header .inner #nav .menuAll .menuAll-full > li {
          width: 20%;
          height: 100%;
          float: left;
          border-right: 3px solid #000; }
          #header .inner #nav .menuAll .menuAll-full > li h2 {
            font: 800 30px/200px 'Nanum Myeongjo'; }
          #header .inner #nav .menuAll .menuAll-full > li ul > li {
            width: 100%; }
            #header .inner #nav .menuAll .menuAll-full > li ul > li a {
              display: block;
              width: 100%;
              font: 20px/100px 'Nanum Myeongjo';
              color: #000; }
              #header .inner #nav .menuAll .menuAll-full > li ul > li a:hover {
                background: #000;
                color: #eee; }
      #header .inner #nav .menuAll .menuAll-close {
        display: none;
        position: fixed;
        top: 30px;
        right: 30px;
        border: none;
        background: none;
        z-index: 10;
        font-size: 30px;
        cursor: pointer; }
    #header .inner .util {
      position: absolute;
      top: 15px;
      right: 0px; }
      #header .inner .util a {
        display: inline-block;
        color: #444;
        font: bold 16px/1 'Nanum Myeongjo'; }
        #header .inner .util a:first-of-type {
          padding-right: 20px; }
    #header .inner .search {
      width: 25%;
      position: absolute;
      top: 60px;
      right: 0px; }
      #header .inner .search::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .search input {
        width: 80%;
        height: 35px;
        border: #777 solid 1px;
        padding: 0 10px;
        position: absolute;
        top: 100px;
        right: 50px;
        font: 15px/1 'Nanum Myeongjo'; }
      #header .inner .search button {
        width: 10%;
        height: 35px;
        background: none;
        border: none;
        position: absolute;
        top: 100px;
        right: 50px;
        cursor: pointer; }
        #header .inner .search button i {
          color: #333;
          font-size: 17px; }
    #header .inner .menuMo li {
      display: none; }

#visual div {
  width: 100%;
  height: 700px;
  background: lightgoldenrodyellow; }

#news .inner {
  width: 1180px;
  margin: 0 auto; }
  #news .inner h1 {
    display: none; }
  #news .inner .wrap {
    padding: 100px 0; }
    #news .inner .wrap::after {
      display: block;
      content: '';
      clear: both; }
    #news .inner .wrap article {
      width: 30%;
      height: 300px;
      border: solid 3px black;
      float: left;
      box-sizing: border-box; }
      #news .inner .wrap article:first-of-type {
        width: 40%;
        height: 600px; }
      #news .inner .wrap article:nth-of-type(3), #news .inner .wrap article:nth-of-type(5) {
        margin-right: 0; }

#brand {
  background: lightgoldenrodyellow; }
  #brand .inner {
    width: 1180px;
    margin: 0 auto; }
    #brand .inner h1 {
      display: none; }
    #brand .inner .wrap {
      padding: 200px 0; }
      #brand .inner .wrap::after {
        display: block;
        content: '';
        clear: both; }
      #brand .inner .wrap article {
        width: 33.333%;
        height: 400px;
        border: solid 3px black;
        float: left;
        box-sizing: border-box; }
        #brand .inner .wrap article:nth-of-type(5) {
          margin-right: 0; }

#quickMenu {
  width: 100%;
  padding: 200px 0; }
  #quickMenu .inner {
    width: 1180px;
    margin: 0 auto; }
    #quickMenu .inner h1 {
      display: none; }
    #quickMenu .inner::after {
      display: block;
      content: '';
      clear: both; }
    #quickMenu .inner .wrap li {
      width: 33.333%;
      height: 100px;
      float: left;
      border: 3px solid black;
      box-sizing: border-box;
      text-align: center; }
      #quickMenu .inner .wrap li a {
        display: block;
        width: 100%;
        font: bold 20px/100px 'Nanum Myeongjo';
        color: #000; }
      #quickMenu .inner .wrap li:hover {
        background: #000; }
        #quickMenu .inner .wrap li:hover a {
          color: #eee; }

#footer {
  width: 100%;
  padding: 100px 0;
  background: #333; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto; }
    #footer .inner::after {
      display: block;
      clear: both;
      content: ''; }
    #footer .inner h1 {
      width: 15%;
      float: left;
      font: bold 30px/1 'Nanum Myeongjo';
      color: #999; }
      #footer .inner h1 span {
        display: block;
        font: normal 15px/30px 'Noto Sans JP'; }
    #footer .inner::after {
      display: block;
      content: '';
      clear: both; }
    #footer .inner .mid {
      width: 65%;
      float: left; }
      #footer .inner .mid ul {
        width: 90%;
        padding: 0 20px 10px;
        text-align: center; }
        #footer .inner .mid ul li {
          width: calc(100% / 5);
          float: left;
          position: relative; }
          #footer .inner .mid ul li a {
            font: normal 15px/1 'Nanum Myeongjo';
            color: #999; }
          #footer .inner .mid ul li::after {
            display: block;
            content: '';
            width: 1px;
            height: 15px;
            background: #999;
            position: absolute;
            bottom: 0px;
            right: 0; }
          #footer .inner .mid ul li:last-of-type::after {
            display: none; }
      #footer .inner .mid address {
        width: 80%;
        padding: 0 30px;
        display: block;
        font: normal 15px/1.5 'Noto Sans JP';
        color: #999;
        margin-top: 15px; }
        #footer .inner .mid address span {
          display: block;
          margin-top: 5px; }
    #footer .inner .right {
      width: 20%;
      float: right; }
      #footer .inner .right select {
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        background: #222;
        color: #999;
        border: none; }

@media screen and (max-width: 1179px) {
  #header {
    padding: 0px 50px; }
    #header .inner {
      width: 100%; }
      #header .inner .logo a {
        font: 800 35px/1 'Nanum Myeongjo'; }
        #header .inner .logo a span {
          font: normal 13px/1 'Noto Sans JP'; }
      #header .inner #nav .gnb {
        border-bottom: 1px solid #000; }
        #header .inner #nav .gnb > li {
          display: block;
          width: calc(70% / 4); }
          #header .inner #nav .gnb > li > a {
            font: bold 12px/50px 'Nanum Myeongjo';
            color: #000; }
          #header .inner #nav .gnb > li::after {
            display: block;
            content: '';
            width: 1px;
            height: 30px;
            background: #555;
            transform: translateY(-130%); }
          #header .inner #nav .gnb > li:first-of-type::after {
            display: none; }
          #header .inner #nav .gnb > li .sub {
            width: 100%; }
            #header .inner #nav .gnb > li .sub h2 {
              font: bold 13px/1 'Nanum Myeongjo'; }
              #header .inner #nav .gnb > li .sub h2 p {
                margin-top: 60px;
                font: normal 11px/1.5 'Noto Sans JP';
                color: #999; }
            #header .inner #nav .gnb > li .sub > ul {
              float: left;
              width: calc((70% / 4) * 2); }
              #header .inner #nav .gnb > li .sub > ul > li {
                height: 30px; }
                #header .inner #nav .gnb > li .sub > ul > li a {
                  font: normal 11px/30px 'Nanum Myeongjo'; }
        #header .inner #nav .gnb:nth-of-type(1) .sub div, #header .inner #nav .gnb:nth-of-type(2) .sub div, #header .inner #nav .gnb:nth-of-type(3) .sub div, #header .inner #nav .gnb:nth-of-type(4) .sub div {
          width: 25%;
          height: 200px;
          background: black;
          float: right; }
        #header .inner #nav .gnb:nth-of-type(1) .sub div {
          background-image: url("https://images.unsplash.com/photo-1534863098989-9d5a7794038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80");
          background-size: cover; }
        #header .inner #nav .gnb:nth-of-type(2) .sub div {
          background-image: url("https://images.unsplash.com/photo-1570501685214-f1f5d61b2db8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");
          background-size: cover; }
        #header .inner #nav .gnb:nth-of-type(3) .sub div {
          background-image: url("https://i.pinimg.com/564x/d9/89/0c/d9890c13039fbc9adabd9ffda51f7652.jpg");
          background-size: cover; }
        #header .inner #nav .gnb:nth-of-type(4) .sub div {
          background-image: url("https://images.unsplash.com/photo-1502743780242-f10d2ce370f3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1016&q=80");
          background-size: cover; }
      #header .inner .menuAll .menuAll-full > li {
        width: 25%;
        height: 100%;
        float: left;
        border-right: 3px solid #000; }
        #header .inner .menuAll .menuAll-full > li h2 {
          font: 800 20px/200px 'Nanum Myeongjo'; }
        #header .inner .menuAll .menuAll-full > li ul > li a {
          font: 15px/100px 'Nanum Myeongjo'; }
    #header .util a {
      font: bold 13px/1 'Nanum Myeongjo'; }
    #header .search {
      width: 20%; }
      #header .search input {
        width: 100%;
        right: 40px; }
      #header .search button {
        right: 55px; }
    #header .menuMo li {
      display: none; }

  #visual div {
    width: 100%;
    height: 500px;
    background: lightgoldenrodyellow; }

  #news {
    padding: 0px 50px; }
    #news .inner {
      width: 100%; }
      #news .inner .wrap {
        padding: 100px 0; }
        #news .inner .wrap article {
          height: 200px; }
          #news .inner .wrap article:first-of-type {
            height: 400px; }

  #brand {
    padding: 0px 50px; }
    #brand .inner {
      width: 100%; }
      #brand .inner .wrap {
        padding: 100px 0; }
        #brand .inner .wrap article {
          height: 300px; }

  #quickMenu {
    padding: 100px 50px; }
    #quickMenu .inner {
      width: 100%; }
      #quickMenu .inner .wrap li {
        height: 80px; }
        #quickMenu .inner .wrap li a {
          font: bold 16px/80px 'Nanum Myeongjo'; }

  #footer {
    padding: 100px 20px; }
    #footer .inner {
      width: 100%; }
      #footer .inner::after {
        display: block;
        clear: both;
        content: ''; }
      #footer .inner h1 {
        width: 10%;
        float: left;
        font: bold 25px/1 'Nanum Myeongjo';
        color: #999; }
        #footer .inner h1 span {
          display: block;
          font: normal 13px/30px 'Noto Sans JP'; }
      #footer .inner .mid {
        width: 70%;
        float: left; }
        #footer .inner .mid ul {
          width: 100%;
          padding: 0 20px 10px; }
          #footer .inner .mid ul li {
            width: calc(100% / 5); }
            #footer .inner .mid ul li a {
              font: normal 13px/1 'Nanum Myeongjo';
              color: #999; }
            #footer .inner .mid ul li::after {
              display: block;
              content: '';
              width: 1px;
              height: 15px;
              background: #999;
              position: absolute;
              bottom: 0px;
              right: 0; }
            #footer .inner .mid ul li:last-of-type::after {
              display: none; }
        #footer .inner .mid address {
          width: 80%;
          padding: 0 30px;
          display: block;
          font: normal 13px/1.5 'Noto Sans JP';
          color: #999;
          margin-top: 15px; }
          #footer .inner .mid address span {
            display: block;
            margin-top: 5px; }
      #footer .inner .right {
        width: 20%;
        float: right; }
        #footer .inner .right select {
          width: 100%;
          height: 30px;
          margin-bottom: 10px;
          background: #222;
          color: #999;
          border: none; } }
@media screen and (max-width: 539px) {
  #header {
    padding: 0 20px; }
    #header .inner {
      width: 100%; }
      #header .inner #logo a {
        font: 800 20px/1 'Nanum Myeongjo';
        position: relative; }
        #header .inner #logo a span {
          position: absolute;
          top: -999px; }
      #header .inner #gnb {
        display: none; }
      #header .inner #menuTab > li h2 {
        width: 20%;
        font: bold 12px/1 'Nanum Myeongjo'; }
        #header .inner #menuTab > li h2 p {
          margin-right: 10px;
          font: normal 11.5px/1.5 'Noto Sans JP'; }
        #header .inner #menuTab > li h2::before {
          height: 150px; }
      #header .inner #menuTab > li > ul.wrap > li {
        width: 22%;
        height: 30px;
        border-bottom: solid 1px #999;
        margin: 0 10px 10px 50px;
        float: left; }
        #header .inner #menuTab > li > ul.wrap > li a {
          font: normal 11px/30px 'Nanum Myeongjo'; }
        #header .inner #menuTab > li > ul.wrap > li:hover a {
          font: 800 11px/30px 'Nanum Myeongjo'; }
      #header .inner .util {
        display: none; }
      #header .inner .menuMo {
        position: absolute;
        top: 15px;
        right: 0; }
        #header .inner .menuMo li {
          display: block;
          width: 30px;
          height: 30px;
          text-align: center;
          float: left; }
          #header .inner .menuMo li a {
            display: block;
            color: #666;
            font: 12px/30px; }

  #footer {
    padding: 50px 20px; }
    #footer .inner {
      width: 100%; }
    #footer h1 {
      float: none;
      width: 20%;
      font: bold 15px/1 'Nanum Myeongjo'; }
      #footer h1 span {
        position: absolute;
        top: -999px; }
    #footer .mid {
      width: 100%;
      display: block;
      float: none;
      margin: 30px 0; }
      #footer .mid ul {
        padding: 0px; }
        #footer .mid ul li {
          width: calc(100% / 5);
          float: left;
          position: relative; }
          #footer .mid ul li a {
            font: bold 10px/1 'Nanum Myeongjo';
            color: #999; }
          #footer .mid ul li::after {
            display: none; }
          #footer .mid ul li:last-of-type::after {
            display: none; }
      #footer .mid address {
        font: normal 10px/1.5 'Noto Sans JP';
        padding: 0;
        margin-top: 30px; }
        #footer .mid address span {
          display: block;
          margin-top: 5px; }
    #footer .right {
      display: none; } }

/*# sourceMappingURL=style.css.map */
