.department{
    width:100%;
    
    .inner{
        width:1180px;
        margin:0 auto;

        .organization{
            width:100%;
            height:1000px;

            h1{
                font: bold 30px 'Nanum Myeongjo';
                text-align: center;
                padding:50px;
                color:#555;
            }

            .organization-wrap{
                width:100%;
                position:relative;
                transform:translate(75px,0px);


                article{
                    width:300px;
                    height:150px;

                    :hover{
                        opacity: 0.8;
                    }
                //profile-pic
                .profile-pic{
                    width:150px;
                    height:150px;
                    border-radius: 50%;
                    background-size:cover;
                    float:left;
                }

                .profile-txt{
                    width:150px;
                    height:100px;
                    float:left;
                    color:black;
                    padding: 50px 10px;
                    
                    span{
                        display:block;
                        &:nth-of-type(1){
                            font:bold 18px/1 'Nanum Myeongjo';
                        }
                        &:nth-of-type(2){
                            content:'/';
                            margin-top:10px;
                            font:14px/1 'Nanum Myeongjo';

                        }
                    }
                }

                //article 포지셔닝
                &:nth-of-type(1){
                    position:absolute;
                    top:0px;
                    right:50%;
                    transform: translateX(50%);
                    
                    .profile-pic{
                        background-image: url("https://images.unsplash.com/photo-1570820383157-91be24cf545f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
                    }
                }

                &:nth-of-type(2){
                    position:absolute;
                    top:300px;
                    left:150px;

                    .profile-pic{
                        background-image: url("https://images.unsplash.com/photo-1575632312417-71da8ed4992d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
                    }
                }
                &:nth-of-type(3){
                    position:absolute;
                    top:300px;
                    right:150px;

                    .profile-pic{
                        background-image: url("https://images.unsplash.com/photo-1584361853901-dd1904bb7987?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60");
                    }
                }
                
                &:nth-of-type(4){
                    position:absolute;
                    top:600px;
                    left:0px;

                    .profile-pic{
                        background-image: url("https://images.unsplash.com/photo-1534399315465-2b91232de345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
                    }
                }
                &:nth-of-type(5){
                    position:absolute;
                    top:600px;
                    left:350px;
                
                    .profile-pic{
                        background-image: url("https://images.unsplash.com/photo-1515522775943-e02e2c68fcb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
                    }
                }
                &:nth-of-type(6){
                    position:absolute;
                    top:600px;
                    right:0px;
                
                    .profile-pic{
                        background-image: url("https://images.unsplash.com/photo-1506863530036-1efeddceb993?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=641&q=80");
                    }
                }

                    //profile-pic,txt 플롯해제
                    &::after{
                        display: block;
                        content: '';
                        clear: both;
                    }

                    //profile-pic 상단 세로줄
                    &:nth-of-type(2) .profile-pic::before,
                    &:nth-of-type(3) .profile-pic::before,
                    &:nth-of-type(4) .profile-pic::before,
                    &:nth-of-type(5) .profile-pic::before,
                    &:nth-of-type(6) .profile-pic::before{
                        display: block;
                        content:'';
                        width:1px;
                        height:75px;
                        background:#999;
                        transform: translate(75px,-75px);
                    }

                    //profile-pic 하단 세로줄
                    &:nth-of-type(1) .profile-pic::after{
                        display: block;
                        content:'';
                        width:1px;
                        height:75px;
                        background:#999;
                        transform: translate(75px,150px);
                    }
                    &:nth-of-type(2) .profile-pic::after,
                    &:nth-of-type(3) .profile-pic::after{
                        display: block;
                        content:'';
                        width:1px;
                        height:75px;
                        background:#999;
                        transform: translate(75px,75px);
                    }
                    
                    //가로줄
                    &:nth-of-type(2)::before{
                        display: block;
                        content:'';
                        width:580px;
                        height:1px;
                        background:#999;
                        transform: translate(75px,-75px);
                    }

                    &:nth-of-type(4)::before{
                        display: block;
                        content:'';
                        width:350px;
                        height:1px;
                        background:#999;
                        transform: translate(75px,-75px);
                    }

                    &:nth-of-type(6)::before{
                        display: block;
                        content:'';
                        width:150px;
                        height:1px;
                        background:#999;
                        transform: translate(-75px,-75px);
                    }
                }
            }
            
        }
        
        .leader{
            padding:100px 0;
            article{
                &::after{
                    display: block;
                    content: '';
                    clear: both;
                }
                .pic{
                    float:left;
                    width:400px;
                    height:600px;
                    background-image: url("https://images.unsplash.com/photo-1570820383157-91be24cf545f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80");
                    background-size: cover;
                    background-position: center;
                }

                .txt{
                    float:left;
                    width:calc(100% - 400px);
                    padding: 0 50px; 

                    h2{
                        margin-bottom:30px;
                        font: bold 30px 'Nanum Myeongjo';

                    }
                    strong{
                        display: block;
                        margin-bottom:10px;
                        font: bold 20px 'Nanum Myeongjo';

                    }
                    span{
                        display: block;
                        margin-bottom:30px;
                        font: bold 18px 'Nanum Myeongjo';
                    }
                    p{
                        font: bold 17px 'Nanum Myeongjo';
                    }
                }
            }
        }
    }
}