#sub_banner{
    .inner{
        .wrap{
            input{
                width:200px;
            }
        }
    }
}


.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%,-50%);
    transition: 1s;
    opacity: 0;

    &.on {
        opacity: 1;
    }
}

.content {
    width: 100%;
    padding: 100px 0px 150px;
    box-sizing: border-box;

    .inner {
        width:  1180px;
        margin: 0px auto;

        >h1 {
            font: bold 50px/1 "arial";
            color: #333;
            margin-bottom: 50px;
            cursor: pointer;
        }

        #search {
            margin:0 auto 50px;
            input{
                width:400px;
                height:50px;
                padding:10px;
                border:1px solid #999;
                background:#eee;
                font:15px/50px 'Nanum Myeongjo';
                
            }
            button{
                border:none;
                background:none;
                font:20px/50px 'arial';
                transform: translate(-45px,3px);
                color:rgb(66, 42, 42);
                cursor: pointer;    
            }
        }

        .txt{
            width:30%;        
            text-align: right;
            position: relative;
            right:0;
        }
        #gallery {
            opacity: 0;
            transform: translateY(100px);
            transition: 1s;

            &.on {
                opacity: 1;
                transform: translateY(0px);
            }


            ul {
                width: 100%;
    
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }

                li {
                    float: left;
                    padding: 0px;
                    height: 300px;
                    box-sizing: border-box;   
                    width: 33.333%; 
                    padding:2px;  
                    
                    &.item-sizer {
                        width: 33.333%;
                        opacity: 0;
                    }
                    &:nth-of-type(2) {
                        width: 66.666%;
                    }
                    &:nth-of-type(4) {
                        height: 600px;
                    }
                    &:nth-of-type(7) {
                        width: 66.666%;
                    }
                    &:nth-of-type(11) {
                        width: 100%;
                    }
                    &:nth-of-type(14) {
                        width: 66.666%;
                    }
                    &:nth-of-type(18) {
                        width: 66.666%;
                        height:600px;
                        
                    }
                    &:nth-of-type(23) {
                        width: 100%;
                        height:600px;
                    }

                    .inner {
                        width: 100%;
                        height: 100%;
                        background: #000;
                        position: relative;
                        overflow: hidden;                       

                        >a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            opacity: 1;
                            transition: 0.5s;

                            >img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        p {
                            position: absolute;
                            top: -120px;
                            opacity: 0;
                            left: 20px;
                            font: bold 14px/1 "arial";
                            color: #fff;
                            transition: 0.5s;
                        }
                        .profile {
                            position: absolute;
                            bottom: -120px;
                            left: 20px;
                            opacity: 0;
                            transition: 0.5s 0.2s;
                            cursor: pointer;

                            img {
                                border-radius: 50%;
                            }
                            span {
                                font: 14px/1 "arial";
                                color: #fff;
                                margin-left: 15px;
                                opacity: 0.7;
                                position: relative;
                                top: -18px;
                            }
                        }
                        &:hover {
                            >a {opacity:0.4;}
                            p {top: 20px; opacity:1;}
                            .profile {bottom: 20px; opacity:1;}
                        }
                    }
                }
            }
        }

        
    }
}

@media screen and (max-width: 1179px){
    .content {   
        padding: 100px 40px; 
    
        .inner {
            width:  100%;   
    
            #search {
                margin-bottom: 50px;
            }
    
            #gallery {
                ul {             
    
                    li {  
                        width: 50%;  

                        &.item-sizer {
                            width: 50%;
                        }
                        &:nth-of-type(2) {
                            width: 100%;
                        }
                        &:nth-of-type(6) {
                            width: 100%;
                        }
                        &:nth-of-type(7) {
                            width: 50%;
                        }
                    }
                }
            }
    
            
        }
    }
}