.join{
    width:100%;
    
    .inner{
        width:1180px;
        margin:0 auto;
        
        form{
            fieldset{
                border:none;

                legend{
                    display: none;
                }

                h2{
                    font: bold 25px 'Nanum Myeongjo';
                    margin-bottom:10px;
                }
                
                table{
                    width:100%;
                    margin-bottom:100px;
                    border-top:1px solid #000;

                    caption{
                        display:none;
                    }
                    
                    tbody{
                        
                        tr{
                            height: 100px;

                        }
                        th{

                            width:30%;
                            border-right: 1px solid #000;
                            border-bottom:1px solid #888;
                            label{
                                font:bold 17px 'Nanum Myeongjo';
                            }
                        }
                        td{
                            width:70%;
                            padding-left:30px;
                            border-bottom:1px solid #888;

                            label{
                                font:16px 'Nanum Myeongjo';
                            }
                            input{
                                padding:10px;
                                font:16px 'Nanum Myeongjo';
                            }
                            select{
                                padding:10px;
                                font:16px 'Nanum Myeongjo';
                            }
                            button{
                                padding:10px;
                                font:16px 'Nanum Myeongjo';
                            }
                        }
                    }
                }
                
                textarea{
                    width:100%;
                    padding:20px;
                    font:17px 'Nanum Myeongjo';
                    border:none;
                    border-top:2px solid #000;
                    border-bottom:2px solid #000;
                    margin-bottom: 50px;
                }
                label{
                    font:bold 20px 'Nanum Myeongjo';
                }
                p{
                    width:100%;
                    padding:10px;
                    border: none;
                    font:15px 'Nanum Myeongjo';
                    color:#999;
                }
            }
            .confirm{
                padding:10px 20px;
                
            }
        }
    }
}