.sub_banner{
    width:100%;
    height:300px;
    background:rgb(162, 98, 199);
    border-top:1px solid lightgrey;
    
    .inner{
        width:1180px;
        height:100%;    
        position:relative;
        margin: 0 auto;

        .wrap{
            position:absolute;
            bottom:-60px;
            left:0;

            &::after{
                content:''; 
                display:block; 
                clear:both;
            }

            li{
                float:left;
                padding-right:80px;
                text-align:center; 
                border:solid 1px solid;
                
                a{
                    display:block; 
                    width:30px;
                    height:30px;
                    font:15px/30px 'Nanum Myeongjo';
                    color:#666;
                    text-align: center;
                    padding:0 20px; 
                    
                }
            
                select[name=firstSelect]{
                    display:block; 
                    width:150px;
                    height:30px;
                    border:none;
                    font:13px/30px 'Nanum Myeongjo';
                    color:#666; 
                }
    
                select[name=secondSelect]{
                    display:block; 
                    width:150px;
                    height:30px;
                    font:13px/30px 'Nanum Myeongjo';
                    color:#666; 
                    border:none;
                }

                &::after{
                    display:block;      
                    content:'>'; 
                    width:30px;
                    height:30px;
                    font-size:18px;
                    transform:translate(-55px, -30px);
                    color:#999;
                }

                &:first-of-type::after{
                    display: none;
                }
            }
        }
    }
}

.sub_title{
    margin:150px 0 100px;

    .inner{
        width:1180px; 
        margin:0 auto; 
        border:1px solid lightgrey;
        position:relative;
    
        h1{
            font:bold 30px/1 'Nanum Myeongjo';
            color:#555;
            padding:70px 30px;
            text-align: center;
        }
    }
}



//tablet
@media screen and (max-width:1179px){
    .sub_title{
        padding:20px 20px 50px;  box-sizing: border-box;
        .inner{
            width:100%;
            h1{
                font:500 30px/1 'Noto Sans JP';
            }
            
            .wrap{
                content:''; display:block; clear:both;
                .homebtn{
                    height:30px;
                    a{font:14px/30px 'Nanum Myeongjo';}
                }

                select[name=firstSelect]{
                    font:11px/30px 'Nanum Myeongjo';
                    height:30px;
                }

                select[name=secondSelect]{
                    font:11px/30px 'Nanum Myeongjo';
                    height:30px;
                }

                select[name=searchIndex]{
                    font:11px/30px 'Nanum Myeongjo';
                    height:30px;
                }

                input[type=text]{
                    font:11px/30px 'Nanum Myeongjo';
                    height:30px;
                }

                button{ 
                    font:11px/30px 'Nanum Myeongjo';
                    height:30px;
                }
            }
        }
    }
}


//mobile
@media screen and (max-width:539px){
    .sub_title{
        padding:20px 20px 50px;  box-sizing: border-box;
        .inner{
            width:100%;
            h1{
                font:500 15px/1 'Noto Sans JP';
            }
            
            .wrap{
                content:''; display:block; clear:both;
                width:100%;
                .homebtn{
                    width:5%; 
                    a{
                        font:10px/30px 'Nanum Myeongjo';
                        color:#666;
                    }
                }

                select[name=firstSelect]{
                    height:30px;
                    font:10px/30px 'Nanum Myeongjo';
                }

                select[name=secondSelect]{
                    height:30px;
                    font:11px/30px 'Nanum Myeongjo';
                }

                select[name=searchIndex]{
                    height:30px;
                    font:11px/30px 'Nanum Myeongjo';
                }

                input[type=text]{
                    width:calc(25% - 3px*4);
                    height:30px;
                    padding:0 5px; box-sizing: border-box;
                    font:11px/30px 'Nanum Myeongjo';
                }

                button{
                    width:5%;height:30px;
                    font:11px/30px 'Nanum Myeongjo';
                }
            }
        }
    }
}