#videoGallery{
    width:100%;
    padding:0 20px 0;    
    
    .inner{
        margin:0px auto;
        width:1180px;
    
        &::after{
            content:'';
            display:block;
            clear:both;
        }

        article{
            float:left;
            width:33.333%;
            height:220px;
            margin-bottom:200px;
            padding:5px;
            
            &:nth-of-type(1){
                width:100%;
                height:500px;
            }

            .pic{
                display:block;
                width:100%;
                height:100%;
                background-repeat:no-repeat;
                background-position:center;
                background-size: cover;
                object-fit:cover;
                
                &:hover{
                    opacity:0.5;
                    background-size: cover;
                    background-position: center;
                    background-repeat:no-repeat;
                }
            }

            .con{
                width:100%;
                padding:20px;
                color:#000;
                
                h2{
                    font: bold 20px 'Nanum Myeongjo';
                    margin-bottom:20px;
                }

                p{
                    font: 15px 'Nanum Myeongjo';
                    margin-bottom:50px;
                }

                span{
                    display:block;
                    font: 15px 'Nanum Myeongjo';
                    margin-bottom:20px;
                }
            }

            
        }
    }
}