@charset 'utf-8';
@import 'reset';
@import 'community';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');//font-family: 'Noto Sans JP', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');//font-family: 'Nanum Myeongjo', serif;

*{box-sizing: border-box;}
.wrap::after{display:block; clear:both; content:'';}

#header{
    width:100%; padding-top:50px;
    
    .inner{
        width:1180px; margin:0 auto;
        position:relative;
    
        #logo{
            a{
                font:800 40px/1 'Nanum Myeongjo';
                color:#555;
                span{
                    position:relative;
                    color:#777;
                    display:inline-block; padding-left:30px;
                    font:normal 17px/1 'Noto Sans JP';
                    
                    // &::after{
                    //     display:block; content:'';
                    //     width:1px; height:20px; background:#999;
                    //     position: absolute; left:15px; bottom:0; 
                    // }
                }
            }
        }

        #gnb{
            margin-top:50px;
            border-bottom:1px solid #999;
            li{
                display:block;
                width:calc((100% - 80px) / 6); height:50px;
                float:left;
                position:relative;
                a{
                    display:block;
                    width:100%; height:50px;
                    float:left;
                    font:bold 15px/50px 'Nanum Myeongjo';
                    color:#555;
                    text-align:center;
                }
                &:last-of-type{
                    width:80px;
                }
                &::after{
                    display:block; content:'';
                    width:1px; height:30px; background: #999;
                    position:absolute; top:10px;
                }
                &:first-of-type::after{
                    display:none;
                }
                &:hover::before{
                    display:block; content:''; 
                    width:100%; height:2px; background:#777;
                    position:absolute; bottom:0;
                }
            }
        }

        #menuTab{
            position:relative;
            >li{
                border-top:solid #999 1px;
                padding:50px 0;
                // position:absolute; top:0;
                h2{
                    display:block; 
                    width:16%; height:130px;
                    font:bold 17px/1 'Nanum Myeongjo'; color:#555;
                    float:left;
                    position:relative;

                    p{
                        display:block; 
                        margin-top:80px;
                        font:normal 15px/1.5 'Noto Sans JP';
                        color:#999;
                    } 

                    &::before{
                        display:block; content:'';
                        width:1px; height:150px; background:#999;
                        position:absolute; right:0; top:0;
                    }
                }

                >ul{
                    &::after{
                        content:''; display:block; clear:both; 
                    }
                    >li{
                        width:22%; height:30px;
                        border-bottom:solid 1px #999;
                        margin:0 10px 10px 50px;
                        float:left;
                        
                        a{
                            display: block;
                            width:100%; 
                            color:#555;
                            font:normal 14px/30px 'Nanum Myeongjo';
                        }

                        &:hover{
                            border-bottom:solid 2.5px #999;
                            // border 굵기를 1px이상으로하면 호버시 li태그가 움직인다. ->height값을 줘서 없앰
                            a{
                                font:800 15px/2 'Nanum Myeongjo';
                            }
                        }
                    }
                }
            }
        }

        .util{
            width:20%;
            position:absolute;
            right:0; top:0;
            border:solid 1px #999; box-sizing:border-box;
            li{
                display:block;
                width:calc(100% / 3); height:30px;
                float:left;
                text-align:center; 
                
                a{
                    font:normal 13px/30px 'Noto Sans JP';
                    color:#999;
                }

                &::after{
                    display:block; content:'';
                    width:1px; height:10px; background: #999;
                    position:absolute; top:10px;
                }
                &:nth-of-type(1)::after{
                    display:none;
                }
            }
        }

        .menuMo{
            li{
                display:none;
                //작성필요
            }
        }
    }
}

#footer{
    width:100%; 
    background:#333;
    padding:100px 0 60px;
    
    .inner{
        width:1180px; margin:0 auto;
    }
    h1{
        width:15%;
        float:left;
        font:bold 30px/1 'Nanum Myeongjo';
        color:#999;
        span{
            display:block; 
            font:normal 15px/30px 'Noto Sans JP';
        }
    }
    .mid{
        width:65%; float:left;
        
        ul{
            width:90%;  padding:0 20px 10px;
            text-align: center;
            li{
                width:calc(100% / 5);
                float:left;
                position:relative; 
                a{
                    font:normal 10px/1 'Nanum Myeongjo';
                    color:#999;
                }
                &::after{
                    display:block; content:'';
                    width:1px; height: 15px; background: #999;
                    position:absolute; bottom:0px; right:0;
                }
                &:last-of-type::after{
                    display:none;
                }
            }
        }
        address{
            width:80%; padding:0 30px;
            display: block; 
            font: normal 15px/1.5 'Noto Sans JP';
            color:#999;
            margin-top:15px;

            span{
                display: block;
                margin-top:5px;
            }
        }   
    }

    .right{
        width:20%; float:right;
        select{
            width:100%; height:30px;
            margin-bottom:10px;
            background: #222;
            color:#999;
            border: none;
        }
    }
}

// tablet
@media screen and (max-width:1179px){
    #header{
        padding:20px;
        .inner{
            width:100%;
            #logo{
                a{
                    font:800 35px/1 'Nanum Myeongjo';
                    span{ text-indent:-9999px; }
                }
            }
    
            #gnb{
                li{
                    width:calc(100% / 6); 
                    a{
                        font:bold 11px/50px 'Nanum Myeongjo';
                    }
                    &:last-of-type{
                        position:absolute; top:-999px;
                    }
                    &:first-of-type::after,
                    &:last-of-type::after{
                        position:absolute; top:-999px;
                    }
                }
            }
    
            #menuTab{
                >li{
                    h2{
                        width:20%;
                        font:bold 12px/1 'Nanum Myeongjo';
                        p{
                            margin-right:10px;
                            font:normal 11.5px/1.5 'Noto Sans JP';
                        }
                        &::before{height:150px;
                        }
                    }
                    
                    >ul.wrap{
                        >li{
                            width:30%; height:30px;
                            border-bottom:solid 1px #999;
                            margin:0 10px 10px 50px;
                            float:left;
                            //944~1179 에서 li가 틀어짐 , 피씨 스타일 그대로둠
                            a{
                                font:normal 11px/30px 'Nanum Myeongjo';
                            }
    
                            &:hover{
                                a{
                                    font:800 11px/30px 'Nanum Myeongjo';
                                }
                            }
                        }
                    }
                }
            }
    
            .util{
                width:28%; 
                li{
                    height:25px;
                    a{
                        font:normal 11px/25px 'Noto Sans JP';
                    }
                }
            }
    
            .menuMo{
                li{
                    display:none;
                    //작성필요
                }
            }
        }
    }
    
    #footer{
        padding:50px 20px;
        .inner{
            width:100%;
        }
        h1{
            width:20%;
            font:bold 23px/1 'Nanum Myeongjo';
            span{
                position:absolute; top:-999px;
            }
        }
        .mid{
            width:60%; float:left;
            
            ul{
                width:100%;  padding:0 20px 10px;
                text-align: center;
                li{
                    width:calc(100% / 5);
                    float:left;
                    position:relative; 
                    a{
                        font:normal 10px/1 'Nanum Myeongjo';
                        color:#999;
                    }
                    &::after{
                        display:block; content:'';
                        width:1px; height: 15px; background: #999;
                        position:absolute; bottom:0px; right:0;
                    }
                    &:last-of-type::after{
                        display:none;
                    }
                }
            }
            address{
                width:100%; padding:0 30px;
                display: block; 
                font: normal 10px/1.5 'Noto Sans JP';
                color:#999;
                margin-top:15px;
    
                span{
                    display: block;
                    margin-top:5px;
                }
            }   
        }
    
        .right{
            width:20%; float:right;
            select{
                width:100%; height:30px;
                margin-bottom:10px; padding:0 10px;
                background: #222;
                color:#999;
                border: none;
            }
        }
    }
}


//mobile
@media screen and (max-width:539px){
    #header{
        padding:0 20px;
        .inner{
            width:100%;
            #logo{
                a{
                    font:800 20px/1 'Nanum Myeongjo';
                    position:relative;
                    span{ position:absolute;  top:-999px;}
                }
            }
    
            #gnb{
                display:none;
            }
    
            #menuTab{
                >li{
                    h2{
                        width:20%;
                        font:bold 12px/1 'Nanum Myeongjo';
                        p{
                            margin-right:10px;
                            font:normal 11.5px/1.5 'Noto Sans JP';
                        }
                        &::before{height:150px;
                        }
                    }
                    
                    >ul.wrap{
                        >li{
                            width:22%; height:30px;
                            border-bottom:solid 1px #999;
                            margin:0 10px 10px 50px;
                            float:left;
                            //944~1179 에서 li가 틀어짐 , 피씨 스타일 그대로둠
                            a{
                                font:normal 11px/30px 'Nanum Myeongjo';
                            }
    
                            &:hover{
                                a{
                                    font:800 11px/30px 'Nanum Myeongjo';
                                }
                            }
                        }
                    }
                }
            }
    
            .util{
                display:none;
            }
    
            .menuMo{
                position:absolute;
                top:15px; right:0;
                li{
                    display:block; width:30px; height:30px;
                    text-align:center;
                    float:left;
                    a{
                        display:block; color:#666;
                        font:12px/30px;
                    }
                }
            }
        }
    }
    
    #footer{
        padding:50px 20px;
        .inner{
            width:100%;
        }
        h1{
            float:none;
            width:20%;
            font:bold 15px/1 'Nanum Myeongjo';
            span{
                position:absolute; top:-999px;
            }
        }
        .mid{
            width:100%; display:block; float:none;
            margin:30px 0;
            ul{padding:0px;
                li{
                    width:calc(100% / 5);
                    float:left;
                    position:relative; 
                    a{
                        font:bold 10px/1 'Nanum Myeongjo';
                        color:#999;
                    }
                    &::after{
                        display:none;
                    }
                    &:last-of-type::after{
                        display:none;
                    }
                }
            }
            address{
                font: normal 10px/1.5 'Noto Sans JP'; padding:0; margin-top:30px;
                span{
                    display: block; margin-top:5px;
                }
            }   
        }
    
        .right{
            display: none;
        }
    }
}
//114줄 문제
//274줄